<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <fa-icon [icon]="barsIcon"></fa-icon>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          <span>Champions choice <i class="fas fa-running"></i>
          </span>
          Dashboard
        </a>
      </c-nav-item>

      <!-- <c-nav-item>
          <a cNavLink routerLink="/users" routerLinkActive="active">Users</a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/products" routerLinkActive="active">Products</a>
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/orders" routerLinkActive="active">Orders</a>
  
        </c-nav-item>
        <c-nav-item>
          <a cNavLink routerLink="/addProduct" routerLinkActive="active">Add Product</a>
        </c-nav-item> -->
    </c-header-nav>

    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>
  <c-header-divider></c-header-divider>
  <!-- <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/defaultUser.png"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Account</h6>
      </li>
      <li>
        <a routerLink="users" cDropdownItem>
          <svg cIcon class="me-2" name="cilBell"></svg>
          Users
          <c-badge class="ms-2 float-end" color="info"> U </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="products" cDropdownItem>
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Products
          <c-badge class="ms-2 float-end" color="success"> p </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="orders" cDropdownItem>
          <svg cIcon class="me-2" name="cilTask"></svg>
          Orders
          <c-badge class="ms-2 float-end" color="danger"> O </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="addProduct" cDropdownItem>
          <svg cIcon class="me-2" name="cilCommentSquare"></svg>
          Add Product
          <c-badge class="ms-auto" color="warning"> A </c-badge>
        </a>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <!-- <li>
        <a cDropdownItem>
          <svg routerLink="./" cIcon class="me-2" name="cilCreditCard"></svg>
          Edit Profile
        </a>
      </li> -->
      <li>
        <a (click)="Logout()" cDropdownItem style="cursor: pointer">
          <svg cIcon class="me-2" name="cilFile"></svg>
          Logout
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
